<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>MarteX - Best IT Solutions Company in Chennai | AI, Web Development, SEO, Blockchain</title>
     <meta name="keywords" content="Best IT company in Chennai, AI automation services in India, Web development services Chennai, Blockchain development company Tamil Nadu, Custom software solutions in India, Best SEO services in Chennai, Mobile app development Tamil Nadu">
    <meta name="description" content="MarteX Software Enterprises is a top-rated IT solutions provider in Chennai, Tamil Nadu,offering AI & automation, web development, SEO, digital marketing, blockchain,ERP, andCRM solutions for businesses worldwide.">
     <!--=====FAB ICON=======-->
     <link rel="shortcut icon" href="assets/images/favicon/martex.png" type="image/x-icon">
     <!--=====CSS=======-->
     <link rel="stylesheet" href="assets/css/bootstrap.min.css">
     <link rel="stylesheet" href="assets/css/fontawesome.css">
     <link rel="stylesheet" href="assets/css/magnific-popup.css">
     <link rel="stylesheet" href="assets/css/nice-select.css">
     <link rel="stylesheet" href="assets/css/slick-slider.css">
     <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
     <link rel="stylesheet" href="assets/css/aos.css">
     <link rel="stylesheet" href="assets/css/mobile-menu.css">
     <link rel="stylesheet" href="assets/css/main.css">
     <!--=====JQUERY=======-->
     <script src="assets/js/jquery-3-7-1.min.js"></script>
</head>
<body class="body body2 tg-heading-subheading animation-style3">
  <!--=====progress END=======-->

<div class="paginacontainer"> 
  <div class="progress-wrap progress-wrap2">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
    </svg>
  </div>
</div> 

<!--=====progress END=======-->

<!-- Preloader -->
<section>
  <div id="preloader">
    <div id="ctn-preloader" class="ctn-preloader ctn-preloader1">
      <div class="animation-preloader">
        <div class="spinner"></div>
        <div class="txt-loading">
          <span data-text-preloader="M" class="letters-loading">
            M
          </span>
          <span data-text-preloader="A" class="letters-loading">
            A
          </span>
          <span data-text-preloader="R" class="letters-loading">
            R
          </span>
          <span data-text-preloader="T" class="letters-loading">
            T
          </span>
          <span data-text-preloader="E" class="letters-loading">
            E
          </span>
          <span data-text-preloader="X" class="letters-loading">
            X
          </span>
        </div>
      </div>	
      <div class="loader-section-left loader-section section-left"></div>
      <div class="loader-section-right loader-section section-right"></div>
    </div>
  </div>
</section>

<!--=====HEADER START=======-->
    <header>
     <div class="header-area header-area2 header-area-all d-none d-lg-block" id="header">
       <div class="container">
         <div class="row">
           <div class="col-12">
             <div class="header-elements">
               <div class="site-logo">
                 <a href="/">
                  <img src="assets/images/martex-logo/martex-logo.png" alt="">
                 </a>
               </div>
               <div class="main-menu-ex main-menu-ex1">
                  <ul>
                    <li><a href="/">Home</a></li>

                    <li class="dropdown-menu-parrent"><a href="/service">What we do</a></li>

                    <li class="dropdown-menu-parrent"><a href="/clients">Who we are</a></li>

                    <li class="dropdown-menu-parrent"><a href="/blog">Blogs</a></li>

                    <li class="dropdown-menu-parrent"><a href="/contact">Contact Us</a></li>
                  </ul>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </header>
   <!--=====HEADER END=======-->
   
       <!--=====Mobile header start=======-->
       <div class="mobile-header mobile-header-main d-block d-lg-none ">
          <div class="container-fluid">
            <div class="col-12">
              <div class="mobile-header-elements">
                <div class="mobile-logo">
                  <a href="/"><img src="assets/images/martex-logo/martex-logo.png" alt=""></a>
                </div>
                <div class="mobile-nav-icon">
                  <i class="fa-duotone fa-bars-staggered"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="mobile-sidebar d-block d-lg-none">
          <div class="logo-m">
            <a href="/"><img src="assets/images/martex-logo/martex-logo.png" alt=""></a>
          </div>
          <div class="menu-close">
            <i class="fa-solid fa-xmark"></i>
          </div>
          <div class="mobile-nav">
            <ul>
              <li ><a href="/">Home </a></li>
              <li><a href="/service">What we do</a></li>
              <li><a href="/clients">Who we are</a></li>
              <li><a href="/blog">Blogs</a></li>
              <li><a href="/contact">Contact Us</a></li>
            </ul>
            
            <div class="mobile-button">
              <a class="theme-btn2" href="/service">Learn More <span><i class="fa-solid fa-arrow-right"></i></span></a>
            </div>

            <div class="single-footer-items">
              <h3>Contact Us</h3>

              <div class="contact-box">
                <div class="icon">
                  <img src="assets/img/icons/footer1-icon1.png" alt="">
                </div>
                <div class="pera">
                  <a href="tel:+918825566752" target="_blank">+918825566752</a>
                </div>
              </div>


              <div class="contact-box">
                <div class="icon">
                  <img src="assets/img/icons/footer1-icon3.png" alt="">
                </div>
                <div class="pera">
                  <a href="mailto:themartexenterprises@gmail.com" target="_blank">themartexenterprises@gmail.com</a>
                </div>
              </div>

              <div class="contact-box">
                <div class="icon">
                  <img src="assets/img/icons/footer1-icon4.png" alt="">
                </div>
                <div class="pera">
                  <a href="mailto:contact@martexai.tech">contact@martexai.tech</a>
                </div>
              </div>

         </div>

            <div class="contact-infos">
              <h3>Our Location</h3>
              <ul class="social-icon">
                <li><a href="https://www.linkedin.com/in/ranjith-g-44a39a21a/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                       <!-- <li><a href="#"><i class="fa-brands fa-x-twitter" target="_blank"></i></a></li> -->
                                       <li><a href="https://wa.me/+918825566752" target="_blank"><i class="fa-brands fa-whatsapp"></i></a></li>
                                       <li><a href="https://www.instagram.com/martex_ai/" target="_blank"><i class="fa-brands fa-instagram" target="_blank"></i></a></li>
           </ul>
            </div>

          </div>
        </div>

        <!--=====Mobile header end=======-->

        <div class="hero2">
          <div class="container">
            <div class="row">
              <div class="col-lg-6">
                <div class="main-heading">
                    <span class="span" data-aos="zoom-in-right" data-aos-duration="700">MarteX Software Enterprises</span>
                    <h1 class="title tg-element-title" style="font-size: 50px;">The Ultimate AI & Digital Transformation Company</h1>
                </div>

                <div class="row _relative">
                    <div class="col-lg-9">
                        <div class="hero2-tags">
                            <ul>
                                <li><a href="/service">Generative AI</a></li>
                                <li><a href="/service">AI Chatbots</a></li>
                                <li class="active"><a href="/service">Custom Software Development</a></li>
                                <li><a href="/service">ERP / CRM</a></li>
                                <li><a href="/service">Block Chain</a></li>
                                <li><a href="/service">Cyber Security</a></li>
                                <li><a href="/service">Data Analytics</a></li>
                                <li><a href="/service">AI Marketing</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="circle-shapes">
                            <div class="shape1 shape-animaiton4">
                                <img src="assets/images/homepage/circle.png" alt="">
                            </div>
                            <div class="shape2">
                                <a href="/service"><img src="assets/img/shapes/hero2-shape2.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="hero2-main-imges">
                    <div class="image1">
                        <img src="assets/img/hero/hero2-main-img1.png" alt="">
                    </div>
                </div>
              </div>

            </div>
          </div>

          <div class="hero2-main-imge2">
            <img src="assets/img/hero/hero2-main-img2.png" alt="">
          </div>
        </div>

        <!--=====HERO AREA END=======-->

        <!--=====ABOUT AREA START =======-->

        <div class="about2">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6">
                <div class="about2-images">
                  <div class="image2 reveal image-anime">
                    <img src="assets/images/homepage/about.png" alt="" style="border-radius: 15px;">
                  </div>
                  <div class="image3" data-aos="zoom-in-left" data-aos-duration="900">
                    <img src="assets/images/homepage/about1.png" alt="" style="border-radius: 15px;">
                  </div>
                  <!-- <div class="counter-box" data-aos="flip-left" data-aos-duration="700">
                    <h3>25</h3>
                    <p>Years Of <br> Experience</p>
                  </div> -->
                </div>
              </div>

              <div class="col-lg-6">
                <div class="heading2">
                  <span class="span" data-aos="zoom-in-left" data-aos-duration="700"> Welcome to MarteX Software Enterprises</span>
                  <h2 class="title tg-element-title">Your Gateway to Digital Excellence</h2>
                  <div class="space16"></div>
                  <p data-aos="fade-up-left" data-aos-duration="700" style="text-align: justify;">MarteX Software Enterprises is the Top and affordable IT solutions provider in Chennai,
                    Tamil Nadu, India, and globally, offering cutting-edge AI automation, web development,
                    mobile app solutions, blockchain development, AI marketing (SEO, PPC, Ads), ERP,
                    CRM, cloud computing, and custom software solutions. We provide solution to our clients
                    problem through technology to help businesses scale and thrive in the digital era.</p>

                  <div class="space10"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--=====ABOUT AREA END=======-->

                <!--=====WHY CHOOSE MARTEX START=======-->

                <div class="solution pt100">
                  <div class="container">
                    <div class="row align-items-center">
                      <div class="col-lg-6">
                        <div class="heading2">
                          <h2 class="title tg-element-title">Why Choose MarteX?</h2>
                          <div class="space16"></div>
                          <div class="item-box" data-aos="fade-right" data-aos-duration="900">
                            <div class="icon">
                              <div class="">
                                <img src="assets/images/icon/rocket.png" alt="">
                              </div>
                            </div>
                            <div class="">
                              <h3 style="font-size: 15px;"><a href="#!" style="line-height: 30px;">Industry-Leading IT Company in Chennai with a global presence.</a></h3>
                            </div>
                          </div>
        
                          <div class="item-box" data-aos="fade-right" data-aos-duration="900">
                            <div class="icon">
                              <div class="">
                                <img src="assets/images/icon/ai.png" alt="">
                              </div>
                            </div>
                            <div class="">
                              <h3 style="font-size: 15px;"><a href="#!" style="line-height: 30px;">AI-Powered Business Automation & Data-Driven Digital Marketing.</a></h3>
                            </div>
                          </div>

                          <div class="item-box" data-aos="fade-right" data-aos-duration="900">
                            <div class="icon">
                              <div class="">
                                <img src="assets/images/icon/fire.png" alt="">
                              </div>
                            </div>
                            <div class="">
                              <h3 style="font-size: 15px;"><a href="#!" style="line-height: 30px;">Custom ERP & CRM Solutions for Enterprises of All <br>Sizes.</a></h3>
                            </div>
                          </div>

                          <div class="item-box" data-aos="fade-right" data-aos-duration="900">
                            <div class="icon">
                              <div class="">
                                <img src="assets/images/icon/lock.png" alt="">
                              </div>
                            </div>
                            <div class="">
                              <h3 style="font-size: 15px;"><a href="#!" style="line-height: 30px;">Blockchain, Cloud Computing & Cybersecurity <br>Experts.</a></h3>
                            </div>
                          </div>

                          <div class="item-box" data-aos="fade-right" data-aos-duration="900">
                            <div class="icon">
                              <div class="">
                                <img src="assets/images/icon/seo.png" alt="">
                              </div>
                            </div>
                            <div class="">
                              <h3 style="font-size: 15px;"><a href="#!" style="line-height: 30px;">SEO & PPC Experts – Rank #1 on Google & Dominate Your Market.</a></h3>
                            </div>
                          </div>

                          <div class="item-box" data-aos="fade-right" data-aos-duration="900">
                            <div class="icon">
                              <div class="">
                                <img src="assets/images/icon/global.png" alt="">
                              </div>
                            </div>
                            <div class="">
                              <h3 style="font-size: 15px;"><a href="#!" style="line-height: 30px;">Global IT Services – Expanding Beyond Chennai & <br>India.</a></h3>
                            </div>
                          </div>
                        </div>
                      </div>
        
                      <div class="col-lg-6">
                        <div class="solution-images">
                          <!-- <div class="image1" data-aos="fade-down-right" data-aos-duration="700">
                            <img src="assets/images/homepage/why2.png" alt="" style="border-radius: 15px;">
                          </div> -->
                          <div class="image2 reveal">
                            <img src="assets/images/homepage/why1.png" alt="" style="border-radius: 15px;">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
        
                <!--=====WHY CHOOSE MARTEX  END=======-->

        <!--=====SERVICE AREA START=======-->

        <div class="servcie2 pt100">
          <div class="container">
            <div class="row">
              <div class="col-lg-8 m-auto text-center">
                <div class="heading2">
                  <span class="span" data-aos="zoom-in-left" data-aos-duration="700"> What we do?</span>
                  <h2 class="title tg-element-title">Our Core AI Services</h2>
                </div>
              </div>
            </div>

            <div class="space40"></div>
            <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="" data-aos="zoom-in-up" data-aos-duration="900">
                  <div class="servcie2-box">
                    <div class="icon">
                      <img src="assets/images/icon/ai-dev.png" alt="">
                    </div>
                    <a href="/service" class="arrow"><i class="fa-solid fa-arrow-right"></i></a>
                    <div class="heading2">
                      <h4><a href="/service" style="color: #ffbd59;">AI & Automation</a></h4>
                      <div class="space16"></div>
                      <p>Chatbots, data analytics, AI-powered automation.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6">
                <div class="" data-aos="zoom-in-up" data-aos-duration="1100">
                  <div class="servcie2-box">
                    <div class="icon">
                      <img src="assets/images/icon/block-chain.png" alt="">
                    </div>
                    <a href="/service" class="arrow"><i class="fa-solid fa-arrow-right"></i></a>
                    <div class="heading2">
                      <h4><a href="/service" style="color: #ffbd59;">Blockchain Solutions</a></h4>
                      <div class="space16"></div>
                      <p>Smart contracts, DApps, Web3, crypto integration.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6">
                <div class="" data-aos="zoom-in-up" data-aos-duration="700">
                  <div class="servcie2-box">
                    <div class="icon">
                      <img src="assets/images/icon/erp.png" alt="">
                    </div>
                    <a href="/service" class="arrow"><i class="fa-solid fa-arrow-right"></i></a>
                    <div class="heading2">
                      <h4><a href="/service" style="color: #ffbd59;">Custom ERP & CRM Development </a></h4>
                      <div class="space16"></div>
                      <p>Enterprise solutions tailored for you.</p>
                    </div>
                  </div>
                </div>
              </div>
</div>

            <div class="space30"></div>
            <div class="row">
              <div class="col-lg-4 col-md-6">
                <div class="" data-aos="zoom-in-up" data-aos-duration="700">
                  <div class="servcie2-box">
                    <div class="icon">
                      <img src="assets/images/icon/globe.png" alt="">
                    </div>
                    <a href="/service" class="arrow"><i class="fa-solid fa-arrow-right"></i></a>
                    <div class="heading2">
                      <h4><a href="/service" style="color: #ffbd59;">Custom Web Development</a></h4>
                      <div class="space16"></div>
                      <p>Secure, high-speed, responsive websites.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6">
                <div class="" data-aos="zoom-in-up" data-aos-duration="900">
                  <div class="servcie2-box">
                    <div class="icon">
                      <img src="assets/images/icon/e-commerce.png" alt="">
                    </div>
                    <a href="/service" class="arrow"><i class="fa-solid fa-arrow-right"></i></a>
                    <div class="heading2">
                      <h4><a href="/service" style="color: #ffbd59;">E-Commerce Solutions</a></h4>
                      <div class="space16"></div>
                      <p>Shopify, WooCommerce, Magento.
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6">
                <div class="" data-aos="zoom-in-up" data-aos-duration="700">
                  <div class="servcie2-box">
                    <div class="icon">
                      <img src="assets/images/icon/digital.png" alt="">
                    </div>
                    <a href="/service" class="arrow"><i class="fa-solid fa-arrow-right"></i></a>
                    <div class="heading2">
                      <h4><a href="/service" style="color: #ffbd59;">Digital AI Marketing</a></h4>
                      <div class="space16"></div>
                      <p>SEO, PPC, social media marketing, Google Ads.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 col-md-6">
                <div class="" data-aos="zoom-in-up" data-aos-duration="600">
                  <div class="servcie2-box">
                    <div class="icon">
                      <img src="assets/images/icon/mobile.png" alt="">
                    </div>
                    <a href="/service" class="arrow"><i class="fa-solid fa-arrow-right"></i></a>
                    <div class="heading2">
                      <h4><a href="/service" style="color: #ffbd59;">Mobile App Development</a></h4>
                      <div class="space16"></div>
                      <p>Android, iOS, Flutter, React Native, Swift.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 col-md-6">
                <div class="" data-aos="zoom-in-up" data-aos-duration="700">
                  <div class="servcie2-box">
                    <div class="icon">
                      <img src="assets/images/icon/server.png" alt="">
                    </div>
                    <a href="/service" class="arrow"><i class="fa-solid fa-arrow-right"></i></a>
                    <div class="heading2">
                      <h4><a href="/service" style="color: #ffbd59;">Cloud Computing & Cybersecurity</a></h4>
                      <div class="space16"></div>
                      <p>AWS, Azure, Google Cloud, data protection.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="space40"></div>
            <div class="row">
              <div class="col-lg-12 text-center" data-aos="zoom-in-up" data-aos-duration="700">
                <a class="theme-btn2" href="/service">View All Services <span class="arrow1"><i class="fa-solid fa-arrow-right"></i></span><span class="arrow2"><i class="fa-solid fa-arrow-right"></i></span></a>
              </div>
            </div>

          </div>
        </div>

        <!--=====SERVICE AREA END=======-->

        <!--=====TESTIMONIAL AREA START=======-->

        <div class="testimonial2 pt100 pb40">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 m-auto text-center">
                <div class="heading2">
                  <span class="span"> Testimonials</span>
                  <h2 class="title tg-element-title">See What Our Customer Say’s</h2>
                </div>
              </div>
            </div>

            <div class="space60"></div>
            <div class="row">
              <div class="tes2-slider owl-carousel" data-aos="fade-up" data-aos-duration="700">
                <div class="single-slider">
                  <div class="icon">
                    <img src="assets/images/homepage/testimonial.png" alt="">
                  </div>
                  <p class="pera">Exceptional Website Development Experience!, I am incredibly impressed with MarteX Software Enterprises for delivering a high-quality, user-friendly, and visually stunning website for our business!</p>

                  <div class="bottom-area">
                    <div class="author">
                      <a href="#">Raywin - Solo Preneur</a>
                    </div>
                    <div class="reating">
                      <ul>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                      </ul>
                      <p>(4.5)</p>
                    </div>
                  </div>
                </div>

                <div class="single-slider">
                  <div class="icon">
                    <img src="assets/images/homepage/testimonial.png" alt="">
                  </div>
                  <p class="pera">IndusFashions.org is a highly responsive and user-friendly website. The seamless navigation and mobile optimization make browsing effortless. Thanks to Team Martex for delivering such a well-designed and fast-loading site. Highly recommended!</p>

                  <div class="bottom-area">
                    <div class="author">
                      <a href="#">Rayapan Reddy <br> MD Indus Fashions</a>
                    </div>
                    <div class="reating">
                      <ul>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                      </ul>
                      <p>(4.5)</p>
                    </div>
                  </div>
                </div>


                <div class="single-slider">
                  <div class="icon">
                    <img src="assets/images/homepage/testimonial.png" alt="">
                  </div>
                  <p class="pera">Used their service for my company, SLT Engineering for developing a web based software to generate report of my project.
                    It was done nicely and their involvement and commitment is appreciated.
                    </p>

                  <div class="bottom-area">
                    <div class="author">
                      <a href="#">Sathish Kkurup <br> MD - SLT Engineering</a>
                      </a>
                    </div>
                    <div class="reating">
                      <ul>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star"></i></li>
                        <li><i class="fa-solid fa-star-half"></i></li>
                      </ul>
                      <p>(4.5)</p>
                    </div>
                  </div>
                </div>

                

              </div>
            </div>
          </div>
        </div>

        <!--=====TESTIMONIAL AREA END=======-->


        <div class="bottom-circle">
                  <!--=====BLOG AREA START=======-->

                  <div class="blog sp">
                    <div class="container">
                      <div class="row">
                        <div class="col-lg-6 text-center m-auto">
                          <div class="heading2">
                            <span class="span">Let's Get Connected🌐</span>
                            <h2 class="title tg-element-title">Book A Free Consultation Today!</h2>
                          </div>
                        </div>
                      </div>
                  
                  
                      <!-- Calendly Embed -->
                      <div style="display: flex; justify-content: center; align-items: center; flex-direction: column; gap: 20px;">
                        <iframe src="https://calendly.com/themartexenterprises/15min" width="100%" height="600px" style="border: none; max-width: 1000px;"></iframe>
                        <a href="https://calendly.com/themartexenterprises/15min" class="cta-btn" target="_blank">Book Now</a>
                      </div>
                    </div>
                  </div>
                  


             <!--===== FOOTER AREA START =======-->

            <div class="footer2 _relative">
              <div class="container">
                   <div class="row">
                        <div class="col-lg-5 col-md-6 col-12">
                             <div class="single-footer-items footer-logo-area">
                                  <div class="footer-logo">
                                    <a href="#"><img src="assets/images/martex-logo/martex-logo.png" alt=""></a>
                                  </div>
                                  <div class="space20"></div>
                                  <div class="heading2">
                                    <p>MarteX Software Enterprises is the Top and affordable IT solutions provider in Chennai, Tamil Nadu, India, and globally, offering cutting-edge AI automation, web development, mobile app solutions, blockchain development, digital marketing (SEO, PPC, Ads), ERP, CRM, cloud computing, and custom software solutions.</p>
                                  </div>
                                  <ul class="social-icon">
                                       <li><a href="https://www.linkedin.com/in/ranjith-g-44a39a21a/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                       <!-- <li><a href="#"><i class="fa-brands fa-x-twitter" target="_blank"></i></a></li> -->
                                       <li><a href="https://wa.me/+918825566752" target="_blank"><i class="fa-brands fa-whatsapp"></i></a></li>
                                       <li><a href="https://www.instagram.com/martex_ai/" target="_blank"><i class="fa-brands fa-instagram" target="_blank"></i></a></li>
                                  </ul>
                             </div>
                        </div>
    
                        <div class="col-lg-3 col-md-6 col-12">
                             <div class="single-footer-items pl-5">
                                  <h3 style="color: #ffbe59;">Quick Links</h3>
    
                                  <ul class="menu-list">
                                      <li><a href="/">Home</a></li>
                                       <li><a href="/service">What we do</a></li>
                                       <li><a href="/clients">Who are we</a></li>
                                       <li><a href="/blog">Blogs</a></li>
                                       <li><a href="/contact">Contact Us</a></li>
                                  </ul>
                             </div>
                        </div>
    
    
                        <div class="col-lg-4 col-md-6 col-12">
                             <div class="single-footer-items">
                                  <h3 style="color: #ffbe59;">Contact Us</h3>
    
                                  <div class="contact-box">
                                    <div class="icon">
                                      <img src="assets/img/icons/footer1-icon1.png" alt="">
                                    </div>
                                    <div class="pera">
                                      <a href="tel:+91 88255 66752" target="_blank">+91 88255 66752</a>
                                    </div>
                                  </div>

                                  <!-- <div class="contact-box">
                                    <div class="icon">
                                      <img src="assets/img/icons/footer1-icon2.png" alt="">
                                    </div>
                                    <div class="pera">
                                      <a href="tel:0356588547">03 5658 8547</a>
                                    </div>
                                  </div> -->

                                  <div class="contact-box">
                                    <div class="icon">
                                      <img src="assets/img/icons/footer1-icon3.png" alt="">
                                    </div>
                                    <div class="pera">
                                      <a href="mailto:themartexenterprises@gmail.com" target="_blank">themartexenterprises@gmail.com</a>
                                    </div>
                                  </div>

                                  <div class="contact-box">
                                    <div class="icon">
                                      <img src="assets/img/icons/footer1-icon4.png" alt="">
                                    </div>
                                    <div class="pera">
                                      <a href="mailto:contact@martexai.tech " target="_blank">contact@martexai.tech </a>
                                    </div>
                                  </div>
    
                             </div>
                        </div>
    
                   </div>
    
                   <div class="space70"></div>
              </div>

              <div class="copyright-area _relative" style="background: none;">
                <div class="container">
                  <div class="row align-items-center">
                    <div class="col-md-5" style="margin-left: 480px;">
                         <div class="coppyright">
                           <p>Copyright @2025 Martex.All Rights Reserved</p>
                         </div>
                    </div>
                    <!-- <div class="col-md-7">
                         <div class="coppyright right-area">
                              <a href="#">Terms & Conditions</a>
                              <a href="#">Privacy Policy</a>
                         </div>
                    </div> -->
               </div>
                </div>

                <!-- <a href="#" class="arrow-up"><i class="fa-solid fa-arrow-up"></i></a> -->
           </div>
  
            </div>
    
            <!--===== FOOTER AREA END =======-->
    </div>

    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/aos.js"></script>
    <script src="assets/js/fontawesome.js"></script>
    <script src="assets/js/jquery.countup.js"></script>
    <script src="assets/js/mobile-menu.js"></script>
    <script src="assets/js/jquery.magnific-popup.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/slick-slider.js"></script>
    <script src="assets/js/gsap.min.js"></script>
    <script src="assets/js/ScrollTrigger.min.js"></script>
    <script src="assets/js/Splitetext.js"></script>
    <script src="assets/js/text-animation.js"></script>
    <script src="assets/js/SmoothScroll.js"></script>
    <script src="assets/js/jquery.lineProgressbar.js"></script>
    <script src="assets/js/ripple-btn.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>